# example

[client]
default-character-set = utf8
[mysql]
default-character-set = utf8
[mysqld]
skip-name-resolve
bind-address = 0.0.0.0
character_set_server = utf8
collation-server = utf8_bin
lower_case_table_names = 1